	<link rel="stylesheet" href="/css/12frame.css">

	<div id="wrapper">
		<div class="sideColumn">
			<div class="grid">
				<div class="frame">
					<div class="cardFace front">
						<div id="0" class="gif f00"></div>
						<img src="img/frame00.png" height="192" width="236">
					</div>
					<div class="cardFace back">
						<img src="img/bframe00.png" height="192" width="236">
						<div id="0b" class="backFrame f00"></div>
					</div>
				</div>
			</div>
			<div class="grid">
				<div class="frame right">
					<div class="cardFace front ">
						<div id="1" class="gif f01"></div>
						<img src="img/frame01.png" height="178" width="217">
					</div>
					<div class="cardFace back ">
						<img src="img/bframe01.png" height="178" width="217">
						<div id="1b" class="backFrame f01"></div>
					</div>
				</div>
			</div>
			<div class="grid">
				<div class="frame">
					<div class="cardFace">
						<div id="2" class="gif f02"></div>
						<img src="img/frame02.png" height="186" width="241">
					</div>
					<div class="cardFace back">
						<img src="img/bframe02.png" height="186" width="241">
						<div id="2b" class="backFrame f02"></div>
					</div>
				</div>
			</div>
			<div class="grid">
				<div class="frame">
					<div class="cardFace front">
						<div id="3" class="gif f03"></div>
						<img src="img/frame03.png" height="184" width="235">
					</div>
					<div class="cardFace back">
						<img src="img/bframe03.png" height="184" width="235">
						<div id="3b" class="backFrame f03"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="centerColumn">
			<div class="grid">
				<div class="frame bottom">
					<div class="cardFace front">
						<div id="4" class="gif f04"></div>
						<img src="img/frame04.png" height="170" width="222">
					</div>
					<div class="cardFace back">
						<img src="img/bframe04.png" height="170" width="222">
						<div id="4b" class="backFrame f04"></div>
					</div>
				</div>
			</div>
			<div class="grid">
				<div class="frame">
					<div class="cardFace front">
						<div id="5" class="gif f05"></div>
						<img src="img/frame05.png" height="192" width="252">
					</div>
					<div class="cardFace back">
						<img src="img/bframe05.png" height="192" width="252">
						<div id="5b" class="backFrame f05"></div>
					</div>
				</div>
			</div>
<!--Featured Student -->
			<div class="featuredStudent">
				<div class="featured">
					<img class="featured-banner" src="img/featured.png" width="250">
					<div id="main"></div>
					<img src="img/mainFrame.png">
				</div>
				<div class="featured">
					<div id="plaque"></div>
				</div>
			</div>
			
			<div class="grid">
				<div class="frame bottom">
					<div class="cardFace front">
						<div id="6" class="gif f06"></div>
						<img src="img/frame06.png" height="165" width="210">
					</div>
					<div class="cardFace back">
						<img src="img/bframe06.png" height="165" width="210">
						<div id="6b" class="backFrame f06"></div>
					</div>
				</div>
			</div>
			<div class="grid">
				<div class="frame left">
					<div class="cardFace front">
						<div id="7" class="gif f07"></div>
						<img src="img/frame07.png" height="192" width="251">
					</div>
					<div class="cardFace back">
						<img src="img/bframe07.png" height="192" width="251">
						<div id="7b" class="backFrame f07"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="sideColumn">
			<div class="grid">
				<div class="frame">
					<div class="cardFace front">
						<div id="8" class="gif f08"></div>
						<img src="img/frame08.png" height="176" width="228">
					</div>
					<div class="cardFace back">
						<img src="img/bframe08.png" height="176" width="228">
						<div id="8b" class="backFrame f08"></div>
					</div>
				</div>
			</div>
			<div class="grid">
				<div class="frame">
					<div class="cardFace front">
						<div id="9" class="gif f09"></div>
						<img src="img/frame09.png" height="192" width="245">
					</div>
					<div class="cardFace back">
						<img src="img/bframe09.png" height="192" width="245">
						<div id="9b" class="backFrame f09"></div>
					</div>
				</div>
			</div>
			<div class="grid">
				<div class="frame left">
					<div class="cardFace front">
						<div id="10" class="gif f10"></div>
						<img src="img/frame10.png" height="177" width="216">
					</div>
					<div class="cardFace back">
						<img src="img/bframe10.png" height="177" width="216">
						<div id="10b" class="backFrame f10"></div>
					</div>
				</div>
			</div>
			<div class="grid">
				<div class="frame">
					<div class="cardFace front">
						<div id="11" class="gif f11"></div>
						<img src="img/frame11.png" height="168" width="208">
					</div>
					<div class="cardFace back">
						<img src="img/bframe11.png" height="168" width="208">
						<div id="11b" class="backFrame f11"></div>
					</div>
				</div>
			</div>
		</div>

	</div>

<script type="text/javascript" src="js/utils/SplitText.js"></script>
<script type="text/javascript" src="js/TweenMax.js"></script>
<script type="text/javascript" src="js/TimelineMax.js"></script>
<script type="text/javascript" src="js/easing/EasePack.js"></script>
<script type="text/javascript" src="/js/12frame.js"></script>	