	html, body{
		width:100%;
	    height: 100%;
	    margin:0;
	    padding:0;
	}

	body{
		box-shadow: inset 0 0 1000px 40px black;
		background: url(../img/bg.jpg);	
	}

	h1{
		font-size: 14px;
		text-align: center;
		font-family: 'Rock Salt', cursive;
		color:#3D1F00;
	}
	p{
		font-size: 8px;
		text-align: center;
		font-family: 'Rock Salt', cursive;
		color:#3D1F00;
	}
	#wrapper{
		width:1024px;
		height:768px;
		padding-top: 20px;
		margin:0 auto;
	}
	.sideColumn{
		width:256px;
		height:100%;
		float:left;
	}
	.centerColumn{
		width:512px;
		height:100%;
		float:left;
	}
	.featuredStudent{
		width:512px;
		height:384px;
		float:left;
	}
	#main{
		width:256px;
		height:192px;
		position: absolute;
		top:52px;
		left:76px;
		-webkit-box-shadow: inset 10px 10px 15px 2px rgba(0,0,0,0.50);
		-moz-box-shadow: inset 10px 10px 15px 2px rgba(0,0,0,0.50);
		box-shadow: inset 10px 10px 15px 2px rgba(0,0,0,0.50);
		color:#FFF;
		z-index:-100;
	}
	.grid{
		position: relative;
		width:256px;
		height:192px;
		float:left;
	}
	.frame{
		position:absolute;
		width:256px;
		height:192px;		
	}
	.cardFace{
		position:absolute;
		width:256px;
		height:192px;
		overflow:hidden;
		-webkit-backface-visibility: hidden; 
		backface-visibility: hidden;
    }
    .gif{
		width:176px;
		height:132px;
		background-color: rgba(0,0,0,0.1);
		position: absolute;
		-webkit-box-shadow: inset 10px 10px 15px 2px rgba(0,0,0,0.50);
		-moz-box-shadow: inset 10px 10px 15px 2px rgba(0,0,0,0.50);
		box-shadow: inset 10px 10px 15px 2px rgba(0,0,0,0.50);
		color:#FFF;
		z-index:-100;
	}
	.backFrame{
		width:176px;
		height:132px;
		position: absolute;
	}

	img{
		z-index: 1000;
	}
	/*GIF POSITIONING*/
	.f00{
		top:30px;
		left:30px;
	}
	.f01{
		top:23px;
		left:21px;
	}
	.f02{
		top:26px;
		left:30px;
	}
	.f03{
		top:27px;
		left:30px;
	}
	.f04{
		top:20px;
		left:24px;
	}
	.f05{
		top:30px;
		left:38px;
	}
	.f06{
		top:16px;
		left:17px;
	}
	.f07{
		top:30px;
		left:38px;
	}
	.f08{
		top:22px;
		left:26px;
	}
	.f09{
		top:30px;
		left:34px;
	}
	.f10{
		top:22px;
		left:20px;
	}
	.f11{
		top:18px;
		left:16px;
	}

	.featuredStudent{
		width:512px;
		height:384px;
		float:left;
	}

	.featured{
		position:relative;
		width:408px;		
		margin:10px auto;
		text-align: center;
	}
	
	#plaque{
		width:408px;
		height:64px;
		margin:5px auto;
		line-height: 64px;
		text-align: center;
		background:url("../img/plaque.png") no-repeat;
		background-size: cover;		
	}
	

    /*FRAME MANIPULATION*/
    .top{
    	top:-20px;
    }
    .bottom:{
    	bottom: -20px
    }
    .left{
    	left:-40px;
    }
    .right{
    	right:-40px;
    }

	.scale90{
		-ms-transform: scale(0.9,0.9); 
		-webkit-transform: scale(0.9,0.9); 
		transform: scale(0.9,0.9); 
	}

	.scale80{
		-ms-transform: scale(0.8,0.8); 
		-webkit-transform: scale(0.8,0.8); 
		transform: scale(0.8,0.8); 
	}

	.rotCW{
		-ms-transform: rotate(1deg); 
	    -webkit-transform: rotate(1deg); 
	    transform: rotate(1deg);
	}

	.rotCC{
		-ms-transform: rotate(-1deg); 
	    -webkit-transform: rotate(-1deg); 
	    transform: rotate(-1deg);
	}