html,body {height:100%;background: url('../img/bg.jpg') repeat;}
body,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	color: #404040;
	font-family: 'Rock Salt', cursive;
}
.btn{border: none!important;}
#portrait-holder{
	width: 800px;
	height: 600px;
	margin: 0 auto;
	position: relative;
	z-index: 0;
}
#portrait0{
	width: 200px;
	height: 150px;
	position: absolute;
	z-index: 0;
	top: 100px;
	left: 90px;
  -ms-transform: rotate(3deg); /* IE 9 */
  -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
  transform: rotate(3deg);	
}
#portrait1{
	width: 220px;
	height: 165px;
	position: absolute;
	z-index: 0;
	top: 350px;
	left: 60px;
  -ms-transform: rotate(-1deg); /* IE 9 */
  -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
  transform: rotate(-1deg);	
}
#portrait2{
	width: 180px;
	height: 145px;
	position: absolute;
	z-index: 0;
	top: 110px;
	right: 90px;
  -ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
  transform: rotate(-2deg);	
}
#portrait3{
	width: 200px;
	height: 150px;
	position: absolute;
	z-index: 0;
	top: 360px;
	right: 60px;
  -ms-transform: rotate(1deg); /* IE 9 */
  -webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
  transform: rotate(1deg);	
}

.small-portrait{
	width: 86%;
	background-color: #2f2c2d;
	position: absolute;
	z-index: -1;
	top: 15px;
	left: 15px;
}

#video,#gifContainer{
	width: 640px;
	height: 480px;
	background-color: #2f2c2d;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 125px;
	left: 82px;
	z-index: -1;
}
#capture,#save,#gifContainer,#reRecord,#done,#userId,#alertMsg,#description-holder,#counter,#progressHolder{display: none;}
#capture,#save,#reRecord,#done{position: absolute;bottom: 0;}
#capture{
	left: 305px;
	z-index: -1;
	background-size: 215px;
	width: 215px;
	height: 55px;
}
#save,#done{left:260px;}
#reRecord{left: 425px;}
#counter{
	font-size: 28px;
	position: absolute;
	top: 148px;
	right: 112px;
	background: url('../img/progress-bg.png') no-repeat;
	width: 70px;
	height: 70px;
	background-size: 70px;
	padding: 15px 25px;
	color: #fff;
}
.alert-warning{
	width: 60%;
	margin: 0 auto;
	background-color: #b8504d;
	margin-top: 195px;
	border: 2px solid #b85252;
}
.addFrame{
	width:100%;
	pointer-events: none;
}
.btn{color:#fff;}
.btn-success{
	background-color: transparent;
	background: url('../img/grey-btn.png') no-repeat;
	background-size: 250px;
	width: 250px;
	height: 62px;
}
.btn-warning{
	background-color: transparent;
	background: url('../img/red-btn.png') no-repeat;
	background-size: 185px;
	width: 185px;
	height: 47px;
}
.btn-success:hover, .btn-warning:hover, .btn-success:focus, .btn-warning:focus, .btn-success:active, .btn-warning:active{
	background-color: transparent;
	opacity: 0.95;
}
.progress{
	position: absolute;
	top: 130px;
	left: 110px;
	display: block;
	width: 590px;
	margin-bottom: 0px;
	border-radius: 1px;
}

#welcome {
	background-color: rgba(243,236,211,0.97);
	width: 594px;
	height: 475px;
	text-align: center;
	position: absolute;
	top: 129px;
	left: 109px;
	z-index: -1;
}

#loader {
	display: none;
	background-color: rgba(243,236,211,0.97);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

#loader .holder{
  position:absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  margin-top: -175px; /*set to a negative number 1/2 of your height*/
  margin-left: -250px; /*set to a negative number 1/2 of your width*/
}

#loader .holder img{
  width:500px;
  height:350px;
}

#loader .holder span{
	margin-top: -80px;
}

#welcome .input-holder{   
	text-align: center;
	position: absolute;
	top: 40%;
	left: 14%;
	width: 500px;    
}

.btn{font-size: 11px;}

.form-control{
	text-align: center;
	color: #404040;
	font-size: 25px;
	height: 115px;
	padding: 25px;
	border: none;
	background: #fff9ee;
	border: 5px solid #f4e8d4;
	border-radius: 0px;
	line-height: 65px;
}

.form-control:focus{
	border-color:#f4e8d4;
}

#alertMsg {
	color: #b8504d;
	font-size: 15px;
	font-weight: normal;	
}

#description{
	text-align: left;
	font-size: 21px;
	line-height: 21px;
	border-radius: 4px;
	border: 5px solid #f4e8d4;
	background: #fff9ee;
}

.help-block{
	color: #404040;
}

#save, #done{
	background-size: 185px;
	width: 185px;
	height: 47px;
	left: 230px;
}

.progress-bar-danger {
	background-color: #b85252;
}

@media (max-width: 1345px){
	#portrait0,#portrait1,#portrait2,#portrait3{display: none;}
}

/*FRAME SIZE & POSITIONING*/
#home-wrapper .frame{
	position:absolute;
	/*overflow:hidden;*/
	width:408px;
	height:306px;
}
.cardFace{
      position:absolute;
      width:408px;
	  height:306px;
      overflow:hidden;
      -webkit-backface-visibility: hidden; 
   	backface-visibility: hidden;
    }



.topLeft{
	top:0;
	left:0;
}

.topRight{
	top:0;
	right:0;
}

.bottomLeft{
	bottom:0;
	left:0;
}

.bottomRight{
	bottom:0;
	right:0;
}

/* Desktops and laptops ----------- */
/*@media only screen and (min-width : 1224px) {*/

	/*GRID SYSTEM*/

	#home-wrapper{
		width:1224px;
		margin:0 auto;
		padding-top:40px;
	}

	#home-wrapper h1{
	font-size: 18px;
	text-align: center;
	font-family: 'Rock Salt', cursive;
	color:#3D1F00;
}

#home-wrapper p{
	font-size: 14px;
	text-align: center;
	font-family: 'Rock Salt', cursive;
	color:#3D1F00;
}

	.grid{
		width:408px;
		height:306px;
		float:left;
		position: relative;
		
	}

	.pullLeft{
		left:-30px;
	}

	.pullRight{
		right:-30px;
	}

	.pullUp{
		top:-30px;
	}
	.pullDown{
		bottom:-30px;
	}

	.shrink90{
		-ms-transform: scale(0.9,0.9); 
		-webkit-transform: scale(0.9,0.9); 
		transform: scale(0.9,0.9); 
	}

	.shrink80{
		-ms-transform: scale(0.8,0.8); 
		-webkit-transform: scale(0.8,0.8); 
		transform: scale(0.8,0.8); 
	}

	.rotCW{
		-ms-transform: rotate(1deg); 
	    -webkit-transform: rotate(1deg); 
	    transform: rotate(1deg);
	}

	.rotCC{
		-ms-transform: rotate(-1deg); 
	    -webkit-transform: rotate(-1deg); 
	    transform: rotate(-1deg);
	}



	/*GIF POSITIONING*/

	.gif{
		width:280px;
		height:210px;
		background-color: #000;
		position: absolute;
		-webkit-box-shadow: inset 10px 10px 15px 2px rgba(0,0,0,0.50);
		-moz-box-shadow: inset 10px 10px 15px 2px rgba(0,0,0,0.50);
		box-shadow: inset 10px 10px 15px 2px rgba(0,0,0,0.50);
		color:#FFF;
		
	}

	.backFrame{
		width:280px;
		height:210px;
		position: absolute;
	}


	.f01{
		top:46px;
		left:47px;
	}

	.f02{
		top:33px;
		left:37px;
	}

	.f03{
		top:48px;
		left:60px;
	}

	.f04{
		top:34px;
		left:40px;
	}

	.f05{
		top:36px;
		left:32px;
	}

	.f06{
		top:43px;
		left:48px;
	}

	.f07{
		top:48px;
		left:54px;
	}

	.f08{
		top:41px;
		left:46px;
	}

	.f09{
		top:35px;
		left:32px;
	}

/*}*/

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

}